<!-- 取得权限配置功能点 -->
<php>
    $access_list = session('_ACCESS_LIST');
    $appoveNode = $access_list['ADMIN']['EMP']['EMPAPPOVE'];
    $rejectNode = $access_list['ADMIN']['EMP']['EMPREJECT'];
</php>
<include file="Base:content_title" />
<div class="row">
    <div class="col-md-12">
        <div class="box border primary">
            <div class="box-title">
                <h4><i class="fa fa-user"></i><span class="hidden-inline-mobile">{$__PLACE__.1}</span></h4>
            </div>
            <div class="box-body table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>{$Think.lang.TEMP_EMP_EMP_NAME}</th>
                            <th>{$Think.lang.SYSTEM_ACTION_REQUEST}</th>
                            <th>{$Think.lang.SYSTEM_TERM_MAKER}</th>
                            <th>{$Think.lang.SYSTEM_TERM_TIME}</th>
                            <th>{$Think.lang.SYSTEM_ACTION_ACTION}</th>
                        </tr>
                    </thead>
                    <tbody>
                    <notempty name="list">
                        <volist name="list" id="vo">
                            <tr>
                                <td>{$vo.emp_name}</td>
                                <td>{$vo.func_text}</td>
                                <td>{$vo.makername}</td>
                                <td>{$vo.time|time_format}</td>
                                <td>
                                    <notempty name="appoveNode">
                                        <in name="vo.func" value="P,R,D">
                                            <a class="ajax-get confirm" title="{$Think.lang.SYSTEM_ACTION_APPOVE}"  href="{:U('empAppove',array('date'=>$vo['date'],'seq'=>$vo['seq'],'flag'=>'A'))}">&nbsp;<i class="fa fa-check"></i></a>
                                            <notempty name="rejectNode">
                                                <a class="ajax-get confirm" title="{$Think.lang.SYSTEM_ACTION_REJECT}"  href="{:U('empReject',array('date'=>$vo['date'],'seq'=>$vo['seq']))}">&nbsp;<i class="fa fa-times"></i></a>
                                            </notempty>
                                        <else/>
                                            <a class="func-dialog" title="{$Think.lang.SYSTEM_ACTION_APPOVE}" data-toggle="modal" data-target="#compose-modal"   href="#" url="{:U('empAppove',array('date'=>$vo['date'],'seq'=>$vo['seq']))}">&nbsp;<i class="fa fa-search"></i></a>
                                        </in>
                                    </notempty>
                                </td>
                            </tr>
                        </volist>
                        <else/>
                        <td colspan="5" class="text-center"> {$Think.lang.SYSTEM_MESSAGE_NO_RECORD} </td>
                    </notempty>
                    </tbody>
                </table>
                <div class="clearfix">
                    {$_page}
                </div>
            </div>
        </div>
    </div>
</div>
