<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"> {$__PLACE__.1}</h4>
    </div>
    <form action="{:U(roleUpdate)}" method="post" class="form-horizontal roleUpdateForm">
        <input type="hidden" name="id" value="{$role.id}"/>
        <div class="modal-body">
            <div class="form-group">
                <label class="col-sm-3 control-label">{$Think.lang.TEMP_EMP_ROLE_NAME}<font color="red"><b>＊</b></font></label>
                <div class="col-sm-9">
                    <input name="name" type="text" value="{$role.name}" class="form-control" maxlength="20"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{$Think.lang.SYSTEM_ACTION_SORT}</label>
                <div class="col-sm-9">
                    <input name="sort" type="text"  value="{$role.sort}" class="form-control" maxlength="3"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{$Think.lang.TEMP_EMP_ROLE_REMARK}<font color="red"><b>＊</b></font></label>
                <div class="col-sm-9">
                    <textarea name="remark" cols="" rows="" class="form-control" maxlength="255">{$role.remark}</textarea>
                </div>
            </div>
            <div class="modal-footer clearfix">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> {$Think.lang.SYSTEM_ACTION_CANCEL}</button>
                <button type="submit" class="btn btn-primary pull-left ajax-post" target-form="roleUpdateForm"><i class="fa fa-check"></i> {$Think.lang.SYSTEM_ACTION_SUBMIT}</button>
            </div>
        </div>
    </form>
</div>