<div class="row">
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-body pad table-responsive">
                <form action="{:U('accountmessage')}" id="messageListForm" method="post">
                    <div class="input-group">
                            <!-- <li class="click" id="add">
                                <span><img src="__ROOT__/Public/images/t01.png" /></span><a>添加</a>
                            </li> -->
                        <!-- <span class="input-group-btn">
                            <button class="btn btn-info btn-flat func-dialog" data-toggle="modal" data-target="#compose-modal" url="{:U('account/msgNew')}" type="button"><i class="fa fa-plus"></i> 新消息</button>
                        </span> -->
                        <!-- <span class="input-group-addon">起始时间</span>
                        <input name="stdate" type="text" value="{$stdate}" class="form-control"  onClick="WdatePicker()" placeholder="yyyy-mm-dd"/>
                        <span class="input-group-addon">截止时间</span>
                        <input name="enddate" type="text" value="{$enddate}" class="form-control"  onClick="WdatePicker()" placeholder="yyyy-mm-dd"/> -->
                        <!-- <span class="input-group-addon">关键字</span>
                        <input name="keywords" type="text" value="{$keywords}" class="form-control"  placeholder="支持模糊查询"/> -->
                        <span class="input-group-addon">类型</span>
                        <select name="type" class="form-control">
                            <option value="0">收到的</option>
                            <option value="1" <if condition="$type eq 1">selected</if>>发出的</option>
                        </select>
                        <span class="input-group-addon">状态</span>
                        <select name="status" class="form-control">
                            <option value="0">未读</option>
                            <option value="1" <if condition="$status eq 1">selected</if>>已读</option>
                        </select>
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-flat" type="submit"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </form>
            </div>
            <div class="box-body table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>编号</th>
                            <th>内容</th>
                            <th>
                                <eq name="type" value="0">
                                    发送人
                                <else/>
                                    接收人
                                </eq>
                            </th>
                            <th>发送时间</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <notempty name="list">
                            <volist name="list" id="vo">
                                <tr>
                                    <td>
                                        {$i}
                                    </td>
                                    <td>
                                        <!-- <a class="tablelink messageread" href="{:U('inquery?id='.$vo['id'])}">{$vo.title}</a> -->
                                        <a class="msgRead" href="#" url="{:U('account/msgRead',array('group_id'=>$vo['group_id']))}">
                                            <php>
                                                $contentLen = strlen($vo['content']);
                                                if($contentLen > 21){
                                                    echo substr($vo['content'],0,21).'...';
                                                }else{
                                                    echo $vo['content'];
                                                }
                                            </php>
                                        </a>
                                    </td>
                                    <td>
                                        <eq name="type" value="0">
                                            {$vo.send_empname}
                                        <else/>
                                            {$vo.recv_empname}
                                        </eq>
                                    </td>
                                    <td>{$vo.create_time|time_format}</td>
                                    <td>
                                        <eq name="vo.status" value="0">
                                            <span class="label label-danger">未读</span>
                                        <else/>
                                            <span class="label label-success">已读</span>
                                        </eq>
                                    </td>
                                    <td>
                                        <notempty name="updateNode">
                                            <!-- <a class="tablelink" href="{:U('update?id='.$vo['id'])}">&nbsp;[修改]</a> -->
                                            <a class="func-dialog" title="编辑" data-toggle="modal" data-target="#compose-modal"  href="#" url="{:U('update?id='.$vo['id'])}">&nbsp;<i class="fa fa-edit"></i></a>
                                        </notempty>
                                        <notempty name="recycleNode">
                                            <a class="ajax-get confirm" title="删除" href="{:U('delete?id='.$vo['id'])}">&nbsp;<i class="fa fa-trash-o"></i></a>
                                        </notempty>
                                    </td>
                                </tr>
                            </volist>
                            <else/>
                            <td colspan="6" class="text-center"> aOh! 没有找到消息记录! </td>
                        </notempty>
                    </tbody>
                </table>
                <div class="box-footer clearfix">
                    {$_page}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6" id="msgContent">
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $("#messageListForm").submit(function(){
            var self = $(this);
            $.get(self.attr("action"), self.serialize(), success);
            return false;
            function success(data){
                $("#content").html(data);
            }
        });
        $(".msgRead").bind('click',function(){
            var url = $(this).attr('url');
            $.get(url,'', success);
            return false;
            function success(data){
                $("#msgContent").html(data);
            }
        });
    });
</script>
