 <!-- 取得权限配置功能点 -->
<php>
    $access_list = session('_ACCESS_LIST');
    $inqueryNode = $access_list['ADMIN']['SMS']['SMSLOGINQUERY'];
</php>
<include file="Base:content_title" />
<div class="row">
    <div class="col-md-12">
        <div class="box border primary">
            <div class="box-title">
                <h4><i class="fa fa-commenting-o"></i><span class="hidden-inline-mobile">{$__PLACE__.1}</span></h4>
                <div class="tools pull-right">
                </div>
            </div>
            <div class="box-body pad table-responsive">
                <form action="{:U('smslogList')}" id="smslogListForm" method="post" class="form-horizontal">
                  <div class="col-md-6">
                      <div class="form-group">
                          <label class="col-sm-3 control-label">{$Think.lang.TEMP_SMS_SEND_DATE}</label>
                          <div class="col-sm-9">
                              <div class="input-group">
                                  <input name="date" type="text" value="{$date}" class="form-control"  placeHolder="{$Think.lang.SYSTEM_TERM_DATE_FORMAT}"  onClick="WdatePicker()"/>
                                  <span class="input-group-btn">
                                      <button class="btn btn-info btn-flat" type="submit"><i class="fa fa-search"></i></button>
                                  </span>
                              </div>
                          </div>
                      </div>
                  </div>
                </form>
            </div>
            <div class="box-body table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>{$Think.lang.TEMP_SMS_SEND_DATE}</th>
                            <th>{$Think.lang.TEMP_SMS_REQUEST_SYS}</th>
                            <th>{$Think.lang.TEMP_SMS_TEMPLATE_NAME}</th>
                            <th>{$Think.lang.TEMP_SMS_SEND_STATUS}</th>
                            <th>{$Think.lang.TEMP_SMS_SEND_TIME}</th>
                            <th>{$Think.lang.SYSTEM_ACTION_ACTION}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <notempty name="list">
                            <volist name="list" id="vo">
                                <tr>
                                    <td>{$vo.date|day_format}</td>
                                    <td></td>
                                    <td>{$vo.smstpl_name}</td>
                                    <td>
                                        <eq name="vo.status" value="0">
                                            <span class="label label-danger">{$vo.status_text}</span>
                                            <else/>
                                            <span class="label label-success">{$vo.status_text}</span>
                                        </eq>
                                    </td>
                                    <td>{$vo.send_time|time_format}</td>
                                    <td>
                                        <notempty name="inqueryNode">
                                            <a class="func-dialog" title="{$Think.lang.SYSTEM_ACTION_INQUERY}" data-toggle="modal" data-target="#compose-modal"  href="#" url="{:U('smslogInquery',array('date'=>$vo['date'],'seq'=>$vo['seq']))}">&nbsp;<i class="fa fa-search"></i></a>
                                        </notempty>
                                    </td>
                                </tr>
                            </volist>
                            <else/>
                            <td colspan="10" class="text-center"> {$Think.lang.SYSTEM_MESSAGE_NO_RECORD} </td>
                        </notempty>
                    </tbody>
                </table>
                <div class="clearfix">
                    {$_page}
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
     $(function(){
        $("#smslogListForm").submit(function(){
            var self = $(this);
            $.get(self.attr("action"), self.serialize(), success);
            return false;
            function success(data){
                $("#content").html(data);
            }
        });
    });
</script>
