<div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title"> {$__PLACE__.1}</h4>
      </div>
      <form action="{:U(marketSend)}" method="post" class="form-horizontal marketSendForm">
          <input name="seq" type="hidden" value="{$result.seq}" />
          <div class="modal-body">
              <div class="form-group">
                  <label class="col-sm-2 control-label">{$Think.lang.TEMP_CLIENT_MARKET_EN_TITLE}</label>
                  <div class="col-sm-9">
                      <input name="title_en" type="text" value="{$result.title_en}" class="form-control" readonly/>
                  </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{$Think.lang.TEMP_CLIENT_MARKET_EN_CONTENT}</label>
                <div class="col-sm-9">
                    <textarea name="en_content" cols="" rows="3" class="form-control" maxlength="255" disabled="disabled">{$result.en_content}</textarea>
                </div>
              </div>
              <div class="form-group">
                  <label class="col-sm-2 control-label">{$Think.lang.TEMP_CLIENT_EMAIL_TYPE}</label>
                  <div class="col-sm-9">
                    <select name="mailtpl_id" class="form-control" id="temp_mail_type">
                        <foreach name="marketMailtplArr" item="vo">
                            <option value="{$key}">{$vo}</option>
                        </foreach>
                    </select>
                  </div>
              </div>
              <div class="form-group">
                <div class="padding">
                  <foreach name="clientList" item="client">
                    <div class="bar">
                      <label class="text">{$client.name}</label>
                      <php>if($clientList[$key][market_send_time] != 0 && (NOW_TIME - $clientList[$key][market_send_time])/60 > 20) echo '<label class="label label-success">Sent</label>'; </php>
                      <php>if((NOW_TIME - $clientList[$key][market_send_time])/60 <= 20) echo '<label class="label label-default">Waiting</label>'; </php>
                      <label class="text">
                        <input type="checkbox" name="clientArr[{$client.ci_no}]" value="{$client.ci_no}"
                        <php>if((NOW_TIME - $clientList[$key][market_send_time])/60 <= 20) echo 'disabled="disabled"';</php> >
                      </label>
                    </div>
                  </foreach>
                </div>
              </div>
              <div class="modal-footer clearfix">
                  <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> {$Think.lang.SYSTEM_ACTION_CANCEL}</button>
                  <button type="submit" class="btn btn-primary pull-left ajax-post" target-form="marketSendForm"><i class="fa fa-check"></i> {$Think.lang.SYSTEM_ACTION_SEND}</button>
              </div>
          </div>
      </form>
  </div>
<script type="text/javascript">
    $(function(){
      $('.mailtpl').css('display','none');
    });
    $('#temp_mail_type').change(function(){
      if($(this).val() == 0){
        $('.mailtpl.inst').css('display','block').find('select').removeAttr('disabled');
        $('.mailtpl.ex').css('display','none').find('select').attr('disabled','disabled');
      }else if($(this).val() == 1){
        $('.mailtpl.ex').css('display','block').find('select').removeAttr('disabled');
        $('.mailtpl.inst').css('display','none').find('select').attr('disabled','disabled');
      }else if($(this).val() == -1){
        $('.mailtpl').css('display','none');
      }
    })
</script>
