<div class="row">
    <div class="col-md-12">
        <div class="box-body table-responsive">
            <div class="scroller" data-width="AUTO" data-always-visible="1" data-rail-visible="0">
                <table class="table table-striped" style="min-width:960px">
                    <volist name="rateArr" id="vo" offset="1" length='1'>
                        <thead>
                            <tr>
                                <th></th>
                                <foreach name="vo" item="item" key="itemkey">
                                    <th>{$itemkey}</th>
                                </foreach>
                            </tr>
                        </thead>
                    </volist>
                    <notempty name="rateArr">
                        <tbody>
                        <foreach name="rateArr" item="vo" key="tenorValue">
                            <tr>
                                <td>
                                    {$tenorValue}
                                </td>
                                <foreach name="vo" item="item" key="ccyValue">
                                    <td>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <input type="checkbox" class="float_check" <neq name="item" value="">checked</neq> disabled="disabled"/> <i class="fa fa-check-circle"></i>
                                                <input type="checkbox" class="is_rate" value="1" <eq name="item['is_rate']" value="1">checked</eq> disabled="disabled"/> <i class="fa fa-bar-chart-o"></i>
                                            </span>
                                            <input type="text" value="{$item['value']|delZero}" class="form-control input-sm float_value" disabled="disabled"  style="width:50px;"/>
                                        </div>
                                    </td>
                                </foreach>
                            </tr>
                        </foreach>
                        </tbody>
                    </notempty>
                </table>
                <!--<div class="clearfix">-->
                    <!--{$_page}-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $('.scroller').each(function () {
            $(this).slimScrollHorizontal({
                size: '10px',
                color: '#a1b2bd',
                width: $(this).attr("data-width"),
                alwaysVisible: ($(this).attr("data-always-visible") == "1" ? true : false),
                railVisible: ($(this).attr("data-rail-visible") == "1" ? true : false),
                railOpacity: 0.1,
                disableFadeOut: true
            });
            return false;
        });
    });
</script>
