<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"> {$__PLACE__.1}</h4>
    </div>
    <form action="{:U(refuseAdd)}" method="post" class="form-horizontal refuseAddForm">
        <div class="modal-body">
            <div class="form-group">
                <label class="col-sm-4 control-label">{$Think.lang.TEMP_CLIENT_EMAIL}<font color="red"><b>＊</b></font></label>
                <div class="col-sm-8">
                    <input name="mail" type="email" class="form-control" maxlength="64"/>
                </div>
            </div>
            <div class="modal-footer clearfix">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> {$Think.lang.SYSTEM_ACTION_CANCEL}</button>
                <button type="submit" class="btn btn-primary pull-left ajax-post" target-form="refuseAddForm"><i class="fa fa-check"></i> {$Think.lang.SYSTEM_ACTION_SUBMIT}</button>
            </div>
        </div>
    </form>
</div>

