<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>API</title>
</head>
<body>
  <h1>APITest</h1>

</body>
<!-- JQUERY -->
<script src="__ROOT__/Public/js/jquery/jquery-1.7.1.min.js"></script>

<script language="javascript">
    $(function(){
      $('h1').css('color','red');
      $.post(
        'http://192.168.230.111:9999/interface.php',
        {
          access_key: '8348f1e7c249c165c310616dee7518c8',
          send_type: 'mail',
          send_channel:'esb',
          sender:'per',
          receiver:'persilee@foxmail.com;li_shy@hisuntech.com',
          Tpl_id:'6',
          send_date:'2017-07-10',
          send_time:'20:51',
          param:{
            name_title:'',
            related_staffs:'',
            name:'per',
            rate_date:'2017-07-10',
            rate_time:'14:29',
            rate:{
                "Saving":{
                  "USD":"0",
                  "HKD":"1"
                },
                "O/N":{
                  "USD":"0.3"
                }
              },
            receiver:''
          }
        },
        function(data){
          console.log(data);
        }
      );

    });
</script>
</html>
