<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>API</title>
</head>
<body>
  <h1>APITest</h1>

</body>
<!-- JQUERY -->
<script src="__ROOT__/Public/js/jquery/jquery-1.7.1.min.js"></script>

<script language="javascript">
    $(function(){
      $('h1').css('color','red');
      $.post(
        'http://192.168.230.79:8989/interface.php',
        {
          access_key: 'cd4a532548d39a1c1a45071a52cd3a6d',
          send_type: 'mail',
          send_channel:'esb',
          sender:'per',
          receiver:'persilee@foxmail.com',
          Tpl_id:'6',
          send_date:'2017-07-06',
          send_time:'12:00',
          param:{
            name_title:'',
            related_staffs:'',
            name:'per',
            rate_date:'2017-07-06',
            rate_time:'14:23',
            rate:'0.23',
            receiver:''
          }
        },
        function(data){
          console.log(data);
        }
      );

    });
</script>
</html>
