<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1>ThinkPHP</h1>

  <form class="" action="process.php" method="get">
    <input type="text" name="user_name" value="" placeholder="用户名">
    <input type="email" name="email" value="" placeholder="Email">
    <button type="submit">提 交</button>
  </form>
</body>
<!-- JQUERY -->
<script src="__ROOT__/Public/js/jquery/jquery-1.7.1.min.js"></script>

<script language="javascript">
    $(function(){
      $('h1').css('color','red');
      // $.get('/index.php/Login/login/a',function(result){
      //   console.log('result');
      // });
    });
</script>
</html>
